button {
    background-color: lightblue;
    padding: 5px;
    border: 2px solid lightgray;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* .container{
    height: 50vw;
    width: 50vw;
} */
body{
    width: 100vw;
    height: 100vh;
}
.image{
    width: 30vw;
    height: 30vw;
}